form {
  max-width: 40%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  .form-buttons {
    margin: auto;
    button {
      width: 150px;
      margin: 0 0 0 20px;
    }
  }

  .drugs-container {
    margin: 20px 0;

    .mat-expansion-panel-spacing {
      margin: 0;
      border-radius: 0;
    }

    ::ng-deep .drug-details {
      max-width: 100%;
    }

    ::ng-deep .refunds-tab {
      width: 100%;
    }

    .delete-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        margin: auto;
      }
    }
  }
}