<div class="component-container">
    <mat-tab-group mat-stretch-tabs class="mat-elevation-z8">
        <mat-tab label="Office">
            <form (ngSubmit)="saveOfficeData()">
                <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="officeData.name" name="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Address" [(ngModel)]="officeData.address" name="address">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Regon" [(ngModel)]="officeData.regon" name="regon">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Save</button>
            </form>
        </mat-tab>
        <mat-tab label="Doctor">
            <form (ngSubmit)="saveDoctorData()">
                <mat-form-field>
                    <input matInput placeholder="First Name" [(ngModel)]="doctorData.firstName" name="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name" [(ngModel)]="doctorData.lastName" name="address">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="License" [(ngModel)]="doctorData.license" name="regon">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Save</button>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>