form {
    max-width: 40%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

form > button {
    width: 100px;
    margin: auto;
}

mat-divider {
  max-width: 40%;
  margin: auto;
}