<div class="print-preview-container">
    <div id="print-area">
        <div class="prescription-body">
            <div class="prescription-header">
                <div class="header-left">
                    <b>Recepta</b>
                </div>
                <div class="header-right">
                    <b>{{ printedPrescription.prescriptionNumber }}</b>
                </div>
            </div>
            <div class="prescription-patient">
                <div class="patient-left">
                    <b>Pacjent</b>
                    <div class="patient-details">
                        <p>{{ printedPrescription.patient.firstName }} {{ printedPrescription.patient.lastName }}</p>
                        <p>{{ printedPrescription.patient.address }}</p>
                    </div>
                </div>
                <div class="patient-right">
                    <div class="nfz">
                        Oddział NFZ
                        <div class="nfz-value">
                            {{ printedPrescription.patient.nfz }}
                        </div>
                    </div>
                    <div class="permissions">
                        Uprawnienia
                        <div class="permissions-value">
                            {{ printedPrescription.additionalPermissions }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="prescription-drugs">
                <div class="drugs-header">
                    <div class="drugs-header-left">
                        Rp.
                    </div>
                    <div class="drugs-header-right">
                        Odpłatność
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">{{ printedPrescription.drugs[0]?.name }}</div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund0 of printedPrescription.drugs[0]?.refunds; let i0 = index">
                            {{ refund0.level }}{{i0 === printedPrescription.drugs[0]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[0]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">{{ printedPrescription.drugs[1]?.name }}</div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund1 of printedPrescription.drugs[1]?.refunds; let i1 = index">
                            {{ refund1.level }}{{i1 === printedPrescription.drugs[1]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[1]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">{{ printedPrescription.drugs[2]?.name }}</div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund2 of printedPrescription.drugs[2]?.refunds; let i2 = index">
                            {{ refund2.level }}{{i2 === printedPrescription.drugs[2]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[2]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">{{ printedPrescription.drugs[3]?.name }}</div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund3 of printedPrescription.drugs[3]?.refunds; let i3 = index">
                            {{ refund3.level }}{{i3 === printedPrescription.drugs[3]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[3]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">{{ printedPrescription.drugs[4]?.name }}</div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund4 of printedPrescription.drugs[4]?.refunds; let i4 = index">
                            {{ refund4.level }}{{i4 === printedPrescription.drugs[4]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        <ng-container *ngIf="printedPrescription.drugs[4]?.refunds.length === 0">100%</ng-container>
                        {{ printedPrescription.drugs[4]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <ngx-barcode
                        [bc-value]="printedPrescription.prescriptionNumber"
                        [bc-display-value]="true"
                        [bc-text-align]="'right'"
                        [bc-font-size]="10"
                        [bc-width]="2.5"
                        [bc-height]="35"
                        [bc-margin]="0"
                        [bc-margin-top]="5"
                        [bc-margin-bottom]="5"
                        [bc-margin-left]="5"
                        [bc-margin-right]="5"
                ></ngx-barcode>
            </div>
            <div class="prescription-footer">
                <div class="footer-left">
                    <div class="date">
                        Data wystawienia
                        <div class="date-value">
                            {{ printedPrescription.date }}
                        </div>
                    </div>
                    <div class="date-from-day">
                        Data realizacji od dnia
                        <div class="date-from-day-value">
                            {{ printedPrescription.dateFromDay ? printedPrescription.dateFromDay : 'X' }}
                        </div>
                    </div>
                </div>
                <div class="footer-right">
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="accent" class="print-button" (click)="print()">Print</button>
</div>