<div class="print-preview-container">
    <div id="print-area">
        <div class="prescription-body">
            <div class="prescription-header">
                <div class="header-left">
                    <div class="header-left-title">
                        Recepta
                    </div>
                    <div class="header-left-value">
                        {{ printedPrescription.officeData?.name }}
                        <br/>
                        {{ printedPrescription.officeData?.address }}
                        <br/>
                        {{ printedPrescription.officeData?.regon ? 'REGON: ' + printedPrescription.officeData?.regon : '' }}
                    </div>
                    <div class="header-left-footer">
                        Świadczeniodawca
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-right-title">
                        {{ printedPrescription.prescriptionNumber }}
                    </div>
                </div>
            </div>
            <div class="prescription-patient">
                <div class="patient-left">
                    <div class="patient-title">
                        Pacjent
                    </div>
                    <div class="patient-value">
                        {{ printedPrescription.patient.firstName }} {{ printedPrescription.patient.lastName }}
                        <br/>
                        wiek: {{ patientAge }} (lat)
                        <br/>
                        {{ printedPrescription.patient.address }}
                    </div>
                    <div class="patient-footer">
                        <div class="patient-footer-left">
                            {{ printedPrescription.patient.idType === 'PERSONAL_ID' ? 'PESEL:' : '' }}
                            {{ printedPrescription.patient.idType === 'PARENT_ID' ? 'PESEL RODZICA:' : '' }}
                            {{ printedPrescription.patient.idType === 'PASSPORT_NUMBER' ? 'NR PASZPORTU:' : '' }}
                        </div>
                        <div class="patient-footer-right">
                            {{ printedPrescription.patient.id }}
                        </div>
                    </div>
                </div>
                <div class="patient-right">
                    <div class="nfz">
                        <div class="nfz-title">
                            Oddział NFZ
                        </div>
                        <div class="nfz-value">
                            {{ printedPrescription.patient.nfz }}
                        </div>
                    </div>
                    <div class="permissions">
                        <div class="permissions-title">
                            Uprawnienia
                        </div>
                        <div class="permissions-value">
                            {{ printedPrescription.additionalPermissions }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="prescription-drugs">
                <div class="drugs-header">
                    <div class="drugs-header-left">
                        Rp.
                    </div>
                    <div class="drugs-header-right">
                        Odpłatność
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">
                        {{ printedPrescription.drugs[0]?.name }}
                        {{ printedPrescription.drugs[0]?.dose }}
                        <br/>
                        {{ printedPrescription.drugs[0]?.packageSize }}
                    </div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund0 of printedPrescription.drugs[0]?.refunds; let i0 = index">
                            {{ refund0.level }}{{i0 === printedPrescription.drugs[0]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[0]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">
                        {{ printedPrescription.drugs[1]?.name }}
                        {{ printedPrescription.drugs[1]?.dose }}
                        <br/>
                        {{ printedPrescription.drugs[1]?.packageSize }}
                    </div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund1 of printedPrescription.drugs[1]?.refunds; let i1 = index">
                            {{ refund1.level }}{{i1 === printedPrescription.drugs[1]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[1]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">
                        {{ printedPrescription.drugs[2]?.name }}
                        {{ printedPrescription.drugs[2]?.dose }}
                        <br/>
                        {{ printedPrescription.drugs[2]?.packageSize }}
                    </div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund2 of printedPrescription.drugs[2]?.refunds; let i2 = index">
                            {{ refund2.level }}{{i2 === printedPrescription.drugs[2]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[2]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">
                        {{ printedPrescription.drugs[3]?.name }}
                        {{ printedPrescription.drugs[3]?.dose }}
                        <br/>
                        {{ printedPrescription.drugs[3]?.packageSize }}
                    </div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund3 of printedPrescription.drugs[3]?.refunds; let i3 = index">
                            {{ refund3.level }}{{i3 === printedPrescription.drugs[3]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[3]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="drugs-item">
                    <div class="drugs-item-left">
                        {{ printedPrescription.drugs[4]?.name }}
                        {{ printedPrescription.drugs[4]?.dose }}
                        <br/>
                        {{ printedPrescription.drugs[4]?.packageSize }}
                    </div>
                    <div class="drugs-item-right">
                        <ng-container *ngFor="let refund4 of printedPrescription.drugs[4]?.refunds; let i4 = index">
                            {{ refund4.level }}{{i4 === printedPrescription.drugs[4]?.refunds?.length - 1 ? '' : ', '}}
                        </ng-container>
                        {{ printedPrescription.drugs[4]?.refunds.length === 0 ? '100%' : '' }}
                    </div>
                </div>
                <div class="prescription-number-barcode">
                    <ngx-barcode
                            [bc-value]="printedPrescription.prescriptionNumber"
                            [bc-element-type]="'svg'"
                            [bc-display-value]="true"
                            [bc-text-align]="'right'"
                            [bc-font-size]="10"
                            [bc-width]="2.5"
                            [bc-height]="34"
                            [bc-margin]="0"
                            [bc-margin-top]="0"
                            [bc-margin-bottom]="0"
                            [bc-margin-left]="0"
                            [bc-margin-right]="0"
                    ></ngx-barcode>
                </div>
            </div>
            <div class="prescription-footer">
                <div class="footer-left">
                    <div class="date">
                        <div class="date-title">
                            Data wystawienia
                        </div>
                        <div class="date-value">
                            {{ printedPrescription.date }}
                        </div>
                    </div>
                    <div class="date-from-day">
                        <div class="date-from-day-title">
                            Data realizacji od dnia
                        </div>
                        <div class="date-from-day-value">
                            {{ printedPrescription.dateFromDay ? printedPrescription.dateFromDay : 'X' }}
                        </div>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-right-title">
                        Dane i podpis lekarza
                    </div>
                    <div class="footer-right-value">
                        {{ printedPrescription.doctor?.firstName }} {{ printedPrescription.doctor?.lastName }}
                        <div class="footer-right-value-license">
                            {{ printedPrescription.doctor?.license }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="accent" class="print-button" (click)="print()">Print</button>
</div>