.print-preview-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  .print-button {
    margin: 20px auto auto;
    width: 100%;
  }
}

$border: black solid 1px;
$border-dashed: black dashed 1px;

.prescription-body {
  width: 99mm;
  height: 210mm;
  border: $border;
  display: block;

  .prescription-header {
    height: 15%;
    border-bottom: $border;
    .header-left {
      position: relative;
      float: left;
      height: calc(100% - 1mm);
      width: calc(50% - 1mm);
      margin: 1mm 0 0 1mm;
      .header-left-title {
        font-weight: bold;
      }
      .header-left-footer {
        position: absolute;
        bottom: 0;
        font-size: 8pt;
      }
    }
    .header-right {
      float: right;
      font-size: 13pt;
      height: calc(100% - 1mm);
      width: calc(50% - 1mm);
      text-align: right;
      margin: 1mm 1mm 0 0;
      .header-right-title {
        font-weight: bold;
      }
    }
  }
  .prescription-patient {
    height: 25%;
    border-bottom: $border;
    .patient-left {
      position: relative;
      float: left;
      width: 70%;
      height: 100%;
      .patient-title {
        font-size: 8pt;
        margin: 0 0 0 1mm;
      }
      .patient-value {
        margin: 10% 0 0 1mm;
      }
      .patient-footer {
        position: absolute;
        bottom: 0;
        width: calc(100% - 2mm);
        margin: 1mm;
        .patient-footer-left {
          float: left;
          height: 100%;
          width: 50%
        }
        .patient-footer-right {
          float: right;
          height: 100%;
          width: 50%;
          text-align: right;
        }
      }
    }
    .patient-right {
      float: right;
      width: 30%;
      height: 100%;
      .nfz {
        width: 100%;
        height: 50%;
        border-left: $border;
        border-bottom: $border;
        font-size: 8pt;
        .nfz-title {
          margin: 0 0 0 1mm;
        }
        .nfz-value {
          font-size: 18pt;
          width: 100%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .permissions {
        width: 100%;
        height: 50%;
        border-left: $border;
        font-size: 8pt;
        .permissions-title {
          margin: 0 0 0 1mm;
        }
        .permissions-value {
          font-size: 18pt;
          width: 100%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .prescription-drugs {
    height: 40%;
    border-bottom: $border;
    .drugs-header {
      width: 100%;
      height: 5%;
      font-size: 8pt;
      border-bottom: $border-dashed;
      .drugs-header-left {
        float: left;
        width: calc(85% - 2mm);
        height: 100%;
        margin: 0 0 0 1mm;
      }
      .drugs-header-right {
        border-left: $border-dashed;
        float: right;
        width: 15%;
        height: 100%;
      }
    }
    .drugs-item {
      border-bottom: $border-dashed;
      height: 15%;
      font-size: 10pt;

      .drugs-item-left {
        float: left;
        width: calc(85% - 3mm);
        height: 100%;
        margin: 0 1mm;
      }
      .drugs-item-right {
        font-size: 8pt;
        border-left: $border-dashed;
        float: right;
        width: calc(15% - 1mm);
        height: 100%;
        margin: 0 1mm 0 0;
      }
    }
    .prescription-number-barcode {
      margin: 1mm;
    }
  }
  .prescription-footer {
    height: calc(20% - 1mm);
    .footer-left {
      float: left;
      width: 30%;
      height: 100%;
      .date {
        width: 100%;
        height: 50%;
        border-right: $border;
        border-bottom: $border;
        font-size: 8pt;
        .date-title {
          margin: 0 0 0 1mm;
        }
        .date-value {
          font-size: 14pt;
          width: 100%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .date-from-day {
        width: 100%;
        height: 50%;
        border-right: $border;
        font-size: 8pt;
        .date-from-day-title {
          margin: 0 0 0 1mm;
        }
        .date-from-day-value {
          font-size: 14pt;
          width: 100%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .footer-right {
      float: right;
      width: 70%;
      height: 100%;
      text-align: center;
      .footer-right-title {
        font-size: 8pt;
      }
      .footer-right-value-license {
        font-size: 8pt;
      }
    }
  }
}