@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: Crimson;
    src: url(assets/fonts/Crimson-Roman.otf) format("opentype");
}

body {
    margin: 0px;
    padding: 0px;
}
