<div class="component-container">
    <mat-tab-group mat-stretch-tabs class="mat-elevation-z8">
        <mat-tab label="Search">
            <app-patients-list></app-patients-list>
        </mat-tab>
        <mat-tab label="Add">
            <!--<form>-->
                <!--<mat-form-field>-->
                    <!--<input matInput placeholder="First Name" [(ngModel)]="doctorData.firstName" name="name">-->
                <!--</mat-form-field>-->
                <!--<mat-form-field>-->
                    <!--<input matInput placeholder="Last Name" [(ngModel)]="doctorData.lastName" name="address">-->
                <!--</mat-form-field>-->
                <!--<mat-form-field>-->
                    <!--<input matInput placeholder="License" [(ngModel)]="doctorData.license" name="regon">-->
                <!--</mat-form-field>-->
                <!--<button mat-raised-button color="primary" (click)='saveDoctorData()'>Save</button>-->
            <!--</form>-->
        </mat-tab>
    </mat-tab-group>
</div>